*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.pricing {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
}

.pricing__item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
    -webkit-flex: 0 1 330px;
    flex: 0 1 330px;
}

.pricing__feature-list {
    text-align: left;
}

.pricing__action {
    color: inherit;
    border: none;
    background: none;
}

.pricing__action:focus {
    outline: none;
}

.pricing__action a {
    text-decoration: none;
    color: #fff;
}

.pricing__action a:hover {
    text-decoration: none;
    color: #000;
}

 :root {
    --black: rgb(0, 0, 0);
    --blacker: #4b4b4b;
}

.pricing--tenzin .pricing__item {
    margin: 1em;
    border-radius: 10px;
    padding: 2em 2.5em;
    text-align: left;
    color: #fcd5ce;
    background: linear-gradient(45deg, var(--blacker) 0%, var(--black) 100%);
    border-top: 3px solid #EEF0F3;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.pricing--tenzin .pricing__item:hover {
    border-color: #ed8028;
}

.pricing--tenzin .pricing__title {
    font-size: 1em;
    margin: 0 0 1em;
}

.pricing--tenzin .pricing__price {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 0 0.75em;
    border-top: 3px solid rgba(139, 144, 157, 0.18);
}

.pricing--tenzin .pricing__currency {
    font-size: 0.5em;
    vertical-align: super;
}

.pricing--tenzin .pricing__sentence {
    font-weight: bold;
    padding: 0 0 0.5em;
    color: #fcd5ce;
    border-bottom: 3px solid rgba(139, 144, 157, 0.18);
}

.pricing--tenzin .pricing__feature-list {
    font-size: 0.85em;
    font-style: italic;
    margin: 0;
    padding: 0.25em 0 2.5em;
    list-style: none;
    text-align: right;
    color: #8b909d;
}

.pricing--tenzin .pricing__action {
    font-weight: bold;
    margin-top: auto;
    padding: 1em 2em;
    color: #000;
    border-radius: 30px;
    background: #f18f3f;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.pricing--tenzin .pricing__action:hover,
.pricing--tenzin .pricing__action:focus {
    background-color: #ff6f00;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}