#clock-loader {
    left: 47%;
    top: 43%;
    display: inline-flex;
    --clock-color: var(--primary-color);
    --clock-width: 6rem;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 0.3rem;
    position: fixed;
    display: flex;
    justify-content: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border: 4px solid var(--clock-color);
    border-radius: 100%;
}

#clock-loader::before,
#clock-loader::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
}

#clock-loader::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
}

#clock-loader::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}